.git
.gitignore
.github
.firebase
node_modules

server/node_modules
client/node_modules

client
data
react-test
server
settings


README.md
.dockerignore
dockerfile
docker-compose.prod.yml
docker-compose.dev.yml
yarn.lock
yarn-error.log